//FICHIER DE CONFIGURATION POUR LES VARIABLES DE LARGEUR/HAUTEUR


// Dimension maximal
$max-width: 1824px;
$min-width: 1024px;

// MEDIA QUERIES
$vw-thin: 360px;
$vw-small: 768px;
$vw-medium: 1024px;
$vw-large: 1224px;
$vw-huge: 3000px;

// Dimension pour formulaire
$base-input-height: 36px;
$base-input-border-size: 1px;
$base-input-border-radius: 10px;
