.page-erreur-content{

  z-index:2;

  padding: 10% 15% 15%;

  h1,h2,h3{
    margin:0;
    color: $white;

    text-shadow: 2px 2px $dark-shade ;
  }
  h1{
    font-size: $fz-h1-custom;
    font-style: italic;
  }


  h2{
    font-size: $fz-h4;
  }
  h3{
    font-size: $fz-h5;
  }

}

div.background{
  display:block;
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  overflow-x:hidden;
  filter: blur(3px);
  background: url("../images/background-image-1920w.jpg") $dark-shade;
  z-index: -1;
}
@media screen and(min-width:$vw-small){




}

@media screen and(min-width:$vw-large){

  .page-erreur-content{

    h1{
      font-size: $fz-404-custom;
    }
    h2{
      font-size: $fz-h2;
    }
    h3{
      font-size: $fz-h3;}

  }


}