// HEADER
header.h-accueil{

  position:absolute;
  right:0;
  width:40vw;
  background-color: $white2;
    div{
      display:flex;
      justify-content: space-between;
      padding:2em;
      z-index:2;

      h4{
        margin: 3px 0 0 0;
        font-family: $ff-normal;
        font-weight: $fw-light;
      }
      a{
        //z-index:999;
      }
    }
}

// SECTION HERO

section.hero-accueil{
  height:800px;
  background-color: $light-shade;
  display:flex;
  justify-content: space-between;
  margin-bottom:5em;

  div.left-side{
    padding:4em;
    display:flex;
    flex-direction: column;
    justify-content: space-around;

    img{
      width:30%;
    }
    p{
      width:78%;
      font-size: $fz-h5;
      line-height: $lh-large;
      padding-top: 5em;
      color: $dark-shade;
      font-family: $ff-title;
    }
    a{
      text-transform: uppercase;
      color: $accent-color;
      transition: $global-transition;
    &:hover{
      color:$dark-shade;
      transition: $global-transition;
    }
    }
  }

  div.right-side {
      display:flex;
    align-items: flex-end;

    img {
      height:695px;
      width: 1025px;
      z-index:3;
      box-shadow: -12px -12px 44px rgba(26, 22, 49, 0.21);
    }
  }
}

// SECTION VENTE

section.info-vente{
  display:flex;
  justify-content: center;
  margin-bottom:15em;
      div.wrapper{
        width:75%;
        span{
          color: $accent-color;
        }
        h3{
          padding-right:10em;
          font-weight: $fw-medium;
        }
      p{
        padding-left: 10em;
        padding-right:9em;
        text-transform: uppercase;
      }
  }
}

// SECTION CONTENU

section.contenu{
  background-color: $light-shade;
  margin-top:5em;

  div.wrapper{

    display:flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;

    article{
      background-color: $white2;
      display:flex;
      flex-direction: column;
      align-items:center;
      margin: -6em 1em 1em 1em;
      width:20%;
      box-shadow: 6px 7px 17px rgba(26, 22, 49, 0.2);
      img{
        width:100%;
      }
      a{
        background-color: $white2;
      }
      div{
        width:100%;
        h2{
          font-family: $ff-title;
          font-weight: $fw-semibold;
          font-style: italic;
          font-size: $fz-h2-custom;
          padding-left:0.5em;
          margin-top:0.5em;

        }
      }

    }
  }
}

// SECTION INFO


section.info-accueil{
  background-color: $light-shade;
  display:flex;
  justify-content:center;
  padding: 10em 0 5em 0;
  div.wrapper{

    display:flex;
    justify-content: center;
    flex-direction:column;
    align-items:center;
    max-width:100%;
    iframe{
      margin-top: -8em;
      z-index: 1;
    }
    div {

      width: 50%;
      background-color: $color-bg-page;
      box-shadow: 6px 7px 17px rgba(26, 22, 49, 0.2);
      z-index: 3;



      h3 {
        font-size: rem(36);
        text-transform: uppercase;
        margin-bottom:0;
        font-weight: $fw-medium;
        text-align: center;
      }
      p{
        background: $white;
        font-size: rem(16);
        padding:1em 5em 2em 5em;
      }
      span{
        color: $accent-color;
      }
    }
  }
}

section.pecheurs{
  display:flex;
  justify-content:center;

  
}

//MENU

