.single-chalet-hero{

  margin: 5em 0;


  h2{
    font-size: rem(36);
    font-weight: $fw-regular;
    text-align: center;
    color: $accent-color;
    text-transform: uppercase;
    padding: 0 47px;
  }

  div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p{
      background: $white;
      box-shadow: $box-shadow-1;
      padding: 35px;
      margin: 15px;
      font-size: rem(16);
    }

    img{
      width: 100%;
    }
  }

}

.single-chalet-composantes{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  padding: 50px 0;

  background: $dark-shade;

  .single-chalet-une-icone{

    text-align: center;
    width: 97px;
    margin: 5px 20px;

    p{
      font-size: rem(16);
      color: $white2;
    }
  }
}


.single-chalet-gallerie{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0;
  background: $light-shade;

  img{
    width: 100%;
    margin: 10px 0;
    padding: 0 10px;
  }

}


@media screen and (min-width: $vw-small){

  .single-chalet-hero{

    margin: 7em 0;

    h2{
      font-size: rem(64);
    }

    div{

      flex-direction: row;

      p{
        width: 350px;
        margin: 0;
        padding: 29px;
      }
    }

  }

  .single-chalet-composantes{
    padding: 30px 0;
  }


}

@media screen and (min-width: $vw-large){

  .single-chalet-hero{

    margin: 10em 0;

    div{

      margin: 50px;
      p{
        padding: 50px;
        width: 700px;
        line-height: 150%;
        font-size: rem(26);
        margin: 0;
      }

      img{


      }
    }

  }

  .single-chalet-gallerie{

    flex-direction: row;
    flex-wrap: wrap;
    padding: 60px 100px;
    img{
      width: auto;
      height: auto;
    }

  }

}

@media screen and (min-width: $vw-huge){

  .single-chalet-gallerie{

    img{
      width: auto;
      height: 766px;
    }

  }
}