.single-activite-info{

  margin: 5em 0;

  h2{
    font-size: rem(36);
    font-weight: $fw-regular;
    text-align: center;
    color: $accent-color;
    text-transform: uppercase;
    padding: 0 47px;
  }

  position: relative;
  div{

    display: flex;
    flex-direction: column;
    align-items: center;



    p{
      background: $white;
      box-shadow: $box-shadow-1;
      padding: 35px;
      width: 348px;
      position: absolute;
      top: 90px;

    }

    picture{
      margin: 370px 0 0 0;
    }
  }

}


.periode-peche-info{

  background: $light-shade;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 30px;
  p{

    font-family: $ff-title;
    font-size: rem(22);
    font-weight: $fw-semibold;
    font-style: italic;
  }

}

.calendrier-pêche{

  padding: 40px 20px;

  h3{
      font-size: rem(28);
      font-weight: $fw-regular;
      color: $accent-color;
      text-transform: uppercase;
      padding: 20px 47px;
    }

  .une-periode{

    display: flex;
    flex-direction: column;

    margin: 20px 10px;
    background: $white2;
    box-shadow: $box-shadow-1;



    h5{
      background: $light-shade;
      text-transform: uppercase;
      padding: 20px;
      margin: 0;
    }

    .contenu-periode{


      padding: 20px;

      h6{
        text-transform: uppercase;
        margin: 0;
      }
    }
  }
}


@media screen and (min-width: $vw-small){

  .single-activite-info{

    div p{
      width: 682px;
      top: 80px;
      font-size: rem(24);
      padding: 45px;
    }

    div picture{
      margin: 260px;
    }

  }

  .periode-peche-info{
    padding: 50px;
    p{
      font-size: rem(36);
    }
  }

}

@media screen and (min-width: $vw-large){

  .single-activite-info{

    margin: 10em 0;

    div{
      flex-direction: row;
      justify-content: flex-end;

      p{
        width: 886px;
        top: 250px;
        left: 100px;
        padding: 100px;
      }

      picture{
        margin: 100px;
      }

    }
  }


  .periode-peche-info{
    padding: 100px;
    p{
      font-size: rem(36);
    }
  }

}


@media screen and (min-width: $vw-huge){

  .single-activite-info{

    h2{
      font-size: rem(68);

    }

    div{
      p{
        font-size: rem(28);
        top: 270px;
      }
    }

  }
  .periode-peche-info {
    padding: 100px 500px;

    p {
      font-size: rem(68);
    }
  }

  .calendrier-pêche{


    h3{
      font-size: rem(68);
    }
    .une-periode{

      h5{
        font-size: rem(48);
        padding: 50px;
      }

      .contenu-periode{

        padding: 50px;
        h6{
          font-size: rem(36);
        }

        p{
          font-size: rem(36);
        }

      }
    }
  }


}
