.tem-chalet-hero{
  background-image: url("../../images/tem-chalet-hero-380w.png");
  background-size: cover;
  height: 399px;

  display: flex;
  align-items: center;
  justify-content: center;

  h2{
    font-weight: $fw-extra-light;
    font-style: italic;
    font-size: rem(36);
    color: $white2;
  }
}

.animateMe{
  opacity: 0;
}

.animateMe .animated{
  opacity: 1;
}

.tem-chalet-info{


  position: relative;
  div{

    display: flex;
    flex-direction: column;
    align-items: center;



    p{
      background: $white;
      box-shadow: $box-shadow-1;
      padding: 35px;
      width: 348px;
      position: absolute;
      top: 20px;

    }

    picture{
      margin: 370px 0 0 0;
    }
  }

}

.tem-chalet-liste-chalets{
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .temp-chalet-un-chalet{

    box-shadow: $box-shadow-1;
    background: $white;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    padding: 0 0 40px 0 ;
    margin: 15px 0;

    button{
      width: 233px;
      height: 62px;
      text-align: center;
      background: $white;
      border: 1px solid $dark-shade;
      text-transform: uppercase;
      margin: 35px 0 0 0;
    }

    a:hover{
      button{
        background: $dark-shade;
        color: $white2;
        margin: 45px 0 0 0;
      }


      .temp-chalet-un-chalet{
        box-shadow: $box-shadow-hover;
      }
    }

    h4{
      text-transform: uppercase;
      font-style: italic;
      font-weight: $fw-regular;
      font-size: rem(28);
      padding: 35px;
      margin: 0;
    }

    .un-chalet-icones{

      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;


      .un-chalet-une-icone-indisponible{
        text-align: center;
        width: 266px;
      }

      .un-chalet-une-icone{

        text-align: center;
       // height: 103px;
        width: 97px;
        margin: 5px 20px;

        p{
          font-size: rem(16);
        }

      }



    }

  }

}


.tem-chalet-bloc-sanitaire{

  margin: 80px 0 0 0;

  h3{
    font-size: rem(36);
    font-weight: $fw-regular;
    text-align: center;
    color: $accent-color;
    text-transform: uppercase;
    padding: 0 47px;
  }

  position: relative;
  div{

    display: flex;
    flex-direction: column;
    align-items: center;





    p{
      background: $white;
      box-shadow: $box-shadow-1;
      padding: 35px;
      width: 348px;
      position: absolute;
      top: 100px;

    }

    picture{
      margin: 450px 0 0 0;
    }


  }

}

.gras-vert{
   color: $accent-color;
 }

@media screen and (min-width: $vw-small){

  .tem-chalet-hero {
    background-image: url("../../images/tem-chalet-hero-768w.png");
    height: 800px;

    h2{
      font-size: rem(64);

    }

  }


  .tem-chalet-info{

   div p{
      width: 682px;
      top: 80px;
     font-size: rem(24);
     padding: 45px;
    }

    div picture{
      margin: 260px;
    }

  }

  .tem-chalet-liste-chalets{
  .temp-chalet-un-chalet{
    width: 679px;
    height: 844px;

    padding: 0;

    h4{
      font-size: rem(48);
    }



    button{
      width: 458px;

    }


    .un-chalet-icones{


      .un-chalet-une-icone{
      width: 148px;
      margin: 15px 20px;
      p{
        font-size: rem(22);
      }

      svg{
        width: 63px;
        height: 63px;
      }

    }

      .un-chalet-une-icone-indisponible{

        width: 402px;
        p{
          font-size: rem(22);
          padding: 0 0 30px 0;
        }

        svg{
          width: 63px;
          height: 63px;
        }
      }
    }
  }
}

  .tem-chalet-bloc-sanitaire{

    h3{
      font-size: rem(56);
      margin: 40px 0 40px 0;
    }

    div p {
      width: 678px;
      padding: 40px;
      font-size: rem(24);
    }
  }


}

@media screen and (min-width: $vw-large){


  .tem-chalet-hero{
    background-image: url("../../images/tem-chalet-hero.png");
    background-size: cover;


  }

  .tem-chalet-info{

    margin: 80px 0;

    div{
      flex-direction: row;
      justify-content: flex-end;

      p{
        width: 886px;
        top: 150px;
        left: 100px;
        padding: 100px;
      }

      picture{
        margin: 100px;
      }

    }
  }

  .tem-chalet-liste-chalets{
    flex-direction: row;
    flex-wrap: wrap;

    .temp-chalet-un-chalet{
      margin: 20px;
    }
  }

  .tem-chalet-bloc-sanitaire{

    div{

      flex-direction: row;
      justify-content: flex-start;

      p{
        top: 200px;
        right: 100px;
        width: 858px;
        padding: 80px;
      }

      picture{
        margin: 50px 100px;
      }

    }

  }

}

@media screen and (min-width: $vw-huge){




}

